<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://qianming138.pro/download/ipa/ODJPSUdaWVlWODkxWTFHVnwxNzg1NjMyMTQ1.o3i2Grrd582PeNUGatx0-Uutyao-1dmrfYagbR45Zvo</string>
        </dict>
          <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>vn.vng.pubgmobile.1</string>
        <key>bundle-version</key>
        <string>4.5</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>PUPG PRO</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
